*{
    margin: 0;
    padding: 0;
}


.left{
    background-color: red;
    display: flex;
    align-items: center;
}

.left-entry{
    margin-right: 20px;
}


.center{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    min-width: 100px;
    padding: 0 14px;
}


.input{
    flex-grow: 1;
}

.button{
    padding: 10px;
}


.right{
    display: flex;
    background-color: yellow;
    flex-direction: column;


}

