/*
.wrapper {
    position: relative;
    background-color: orange;
    height: 60px;
}
居中对齐
.content{
    font-size: 30px;
    color: white;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
*/


.navbar a{
    float: left;
    display: block;
    text-align: center;

    padding-right: 30px;

    padding: 15px 30px;
    transition: all 0.3s ease;
    color: white;
    font-size: 24px;
    text-decoration: none;


}

.navbar a:hover{
    background-color:black;
}

.active{
    background-color: orange;
}



.First{
    color: white;
}

.h2{
    font-size: 64px;
    font-family: Helvetica, sans-serif ;
    font-weight: 700;
    margin-top: 70px;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}

.getStarted{
    width: 200px;
    height: 30px;
    background-color: orange;
    border-radius: 5px;
    border: 0px;

}



main{
    flex-grow: 1;
    text-align: center;
    order: 1;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}


footer{
    color: white;
    background-color: #555;
    text-align: center;
}

.navbar{
    display: flex;
    background-color: #555;
    overflow:hidden;
    width: 100%;
    position:fixed;
    top:0;
}



